/* -------------- Google Fonts --------------------  */

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

/* ------------- Body ------------- */
body {
    background-color: #f1f1f1;
}

/* ----------- Header ----------- */
header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.logo .fn {
    color: #0d365c;
}

.logo .ln {
    color: #86172a;
}

header li {
    display: inline-block;
    margin-left: 1rem;
    cursor: pointer;
    position: relative;
}

header li::after {
    content: '';
    height: 3px;
    width: 0%;
    background-color: #0d365c;
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: -3px;
    left: 50%;
    transition: all .5s ease;
    border-radius: 5px;
}

header li:hover::after {
    width: 100%;
}


/* ------------ Hero Section ------------  */

.hero-section {
    background-image: linear-gradient(to top left, #0000006c, #00000057), url('/media/hero-section.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
    text-align: center;
}

.hero-section h3 {
    font-size: 3rem;
}


/*  -------------- Main Section --------------  */
main {
    min-height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.filter-feature {
    width: 20%;
    background: #fff;
    box-shadow: 0px 2px 4px #ddd;
    border-radius: 5px;
}

.courses-list {
    width: 78%;
    /* background: #fff ; */
    box-shadow: 0px 2px 4px #ddd;
    border-radius: 5px;
    border: 1px solid #ddd;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
}

.courses-list .course {
    width: 30%;
    height: 33vh;
    position: relative;
    border-radius: 3px 2rem;
    overflow: hidden;
    border: 1px solid #80004b;
    border-right: 5px solid #80004b;
    border-bottom: 5px solid #80004b;
    cursor: pointer;
    transition: all .5s ease;
}


.course img {
    width: 100%;
    object-fit: cover;
    transition: all .4s ease;
    border-radius: 5px 2rem;
    padding: 1rem;
}

.course .course-details {
    position: absolute;
    width: 50%;
    bottom: 0;
    right: 0;
    background: linear-gradient(to left, #18181896, #80004b);
    color: #ddd;
    border-radius: 5px 2rem;
    padding: .5rem;
    text-align: center;
}

.course-details button {
    width: 80%;
    display: block;
    margin: .5rem auto;
    height: 5vh;
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #bd1b36;
    color: #ddd;
    transition: all .5s ease;
}

.course-details button:hover {
    background-color: #db1c3c;
}

.course-details p {
    font-size: 14px;
}

/* ------------ Footer ------------  */

footer {
    padding: 2rem;
    text-align: center;
    background-color: #1f578f;
    font-style: italic;
    color: #ddd;
    height: 30vh;
    background-image: linear-gradient(to top left, #0000006c, #00000057), url('/media/footer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer p {
    font-size: 12px;
}